<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>黄磊的简历</title>
    <meta name="keywords" content="黄磊,后端,工作,简历">
    <link rel="stylesheet" href="/static/resume/css/style.min.css">
    <link rel="stylesheet" href="/static/resume/css/fontello.min.css">
    <link rel="shortcut icon" href="/static/images/hl-logo.ico" type="image/x-icon"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<aside>
    <ul>
        <li>
            <a href="http://www.leihuang.org" target="_blank">Blog</a>
        </li>
        <li>
            <a href="https://www.github.com/SpeedMe" target="_blank">GitHub</a>
        </li>
    </ul>
</aside>
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="/static/resume/img/head.png">
            <h1>黄 磊</h1>
            <h2>"Write the Code. Change the World."</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="mailto:leihuang.org@gmail.com"
                                                        target="_blank">leihuang.org@gmail.com</a>
                </dd>
                <dd><i class="icon-wechat"></i>手机: 18323483580</dd>
                <dd><i class="icon-qq"></i>QQ: <a
                        href="http://wpa.qq.com/msgrd?v=3&uin=1522477973&site=qq&menu=yes"
                        target="_blank">1522477973</a></dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>后端工程师</dd>
            </li>
            <li class="skill">
                <dt><i class="icon-bookmark"></i>Tech. 技能点</dt>
                <dd>
                    <div class="skill-name">Java</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 80%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">Python</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 75%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">PHP</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 72%"></div>
                    </div>
                </dd>
                <dd>
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar-wrap">
                        <div class="skill-bar" style="width: 70%"></div>
                    </div>
                </dd>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>基本信息</dt>
                <dd><span>个人信息:</span> 黄磊 / 男 / 24岁</dd>
                <dd><span>教育经历:</span> 本科 / 重庆大学软件工程 / 2015年应届生</dd>
                <dd><span>Blog:</span> <a href="http://www.leihuang.org" target="_blank">www.leihuang.org</a>
                </dd>
                <dd><span>GitHub:</span> <a href="https://www.github.com/SpeedMe" target="_blank">www.github.com/SpeedMe</a>
                </dd>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>项目与工作经验</dt>
                <h3>重庆猪八戒科技有限公司（2014.10 - 至今）</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>优惠券系统</h4>
                        <p>
                            重构猪八戒网的优惠券系统,原有优惠券系统有php实现,且很多需求由于最初设计问题导致无法满足。所以使用Java对整个系统进行重构,从需求调研到架构设计,再到代码编写。</p>
                        <br>
                        <p>技术架构: 抽离优惠券系统核心逻辑使用Java语言开发,提供服务。采用Thrift Rpc开源框架,暴露服务给php调用。</p>
                        <br>
                        <p>负责部分: 项目管理,系统架构设计,Java核心代码,及部分php代码编写</p>
                    </li>
                </ul>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>发票系统</h4>
                        <p>类似于之前的优惠券系统,使用Java语言重构现有发票系统。</p>
                        <br>
                        <p>技术架构: 抽离发票系统核心逻辑使用Java语言开发,提供服务。采用Thrift Rpc开源框架,暴露服务给php客户端调用。</p>
                        <br>
                        <p>负责部分: 项目管理,系统架构设计,Java核心代码,及部分php代码编写</p>
                    </li>
                </ul>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>猪八戒网SOA服务化</h4>
                        <p>
                            公司之前为了满足业务的快速迭代,采用的是LAMP架构设计,但随着业务的发展,业务逻辑的复杂化,这种架构设计使得服务与服务之间的耦合度越来越高。</p>
                        <p>SOA服务化是一个长期的过程,已改造了大部分核心系统,如交易系统,用户体系系统,目前正在对支付系统进行重构。</p>
                        <br>
                        <p>技术架构: 采用阿里开源框架dubbo,暴露http服务提供给客户端调用。</p>
                        <br>
                        <p>负责部分:
                            由于熟悉php语言,所以负责Java代码生成php代码的工具编写(请求,响应,接口等实体),及所有Java服务的请求层框架编写(接收php客户端请求的调用)。</p>
                        <p>SOA服务化框架搭建好之后,改造了现有的用户体系系统。</p>
                    </li>
                </ul>

                <h3>个人项目</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>个人网站</h4>
                        <p>个人博客网站,记录生活与技术积累</p>
                        <br>
                        <p>采用Python语言开发,Flask框架和Jinja2模板语言</p>
                        <br>
                        <p>地址: <a href="http://www.leihuang.org">www.leihuang.org</a></p>
                    </li>
                </ul>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>技能清单</dt>
                <h3>后端</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>Java / Python / PHP / JavaScript</h4>
                        <p>Java:大部分项目使用Java语言开发,熟悉JVM底层,及Java基础</p>
                        <p>Python:主要用于做一些工具,和小网站,个人兴趣</p>
                        <p>PHP:因为公司大部分老系统使用PHP开发,所以重构的使用必须熟悉,也写过一些项目</p>
                        <p>JavaScript:一般写网站都要用到,就顺便学习了下</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>框架</h4>
                        <p>Spring MVC, Spring, Mybatis</p>
                        <p>Thrift, Dubbo, zookeeper</p>
                        <p>Flask</p>
                        <p>Bootstrap</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>MySql / Redis</h4>
                        <p>MySql: 熟悉Mysql数据库,性能优化等</p>
                        <p>Redis: 熟悉应用Redis</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>开发/部署环境</h4>
                        <p>熟悉 Linux 开发环境、 Linux 服务器环境搭建部署，六年 Linux 日常使用经验</p>
                        <p>snv, git, maven, nginx, tomcat, apache</p>
                        <p>熟悉大部分开发环境和部署环境。</p>
                    </li>
                </ul>
            </li>

            <li>
                <dt><i class="icon-bookmark"></i>自我评价</dt>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <p>自学能力强,团队合作,有激情,愿加入一支有梦想的团队。</p>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--<footer>-->
    <!--<p>Theme by <a href="https://github.com/DIYgod/Resume" target="_blank">DIYgod</a>. Made with <i-->
            <!--class="icon-heart throb" style="color: #d43f57;"></i> by DIYgod. 最后更新于2016年3月1日</p>-->
<!--</footer>-->
</body>
</html>
