<!-- disqus -->
<div class="block">
    <div id="disqus_thread">
        <iframe id="dsq-app2" name="dsq-app2" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0"
                title="Disqus" width="100%"
                src="https://disqus.com/embed/comments/?base=default&amp;version=41fc3d06d1c3bde9e8add3fc90642f21&amp;f=huanglei&amp;t_u=http%3A%2F%2Fleihuang.org%2F2015%2F12%2F05%2Fservice-interface%2F&amp;t_d=%E7%BC%96%E5%86%99%E4%BC%98%E9%9B%85%E7%9A%84%E6%9C%8D%E5%8A%A1%E5%8C%96%E6%8E%A5%E5%8F%A3%20-%20Lei%20Huang&amp;t_t=%E7%BC%96%E5%86%99%E4%BC%98%E9%9B%85%E7%9A%84%E6%9C%8D%E5%8A%A1%E5%8C%96%E6%8E%A5%E5%8F%A3%20-%20Lei%20Huang&amp;s_o=default"
                style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 450px !important;"
                horizontalscrolling="no" verticalscrolling="no"></iframe>
    </div>
    <script type="text/javascript">
        var disqus_shortname = "huanglei";
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the &lt;a href="https://disqus.com/?ref_noscript"&gt;comments powered
        by Disqus.&lt;/a&gt;</noscript>
</div>

<!--畅言-->

<!--<div class="block">-->
<!--<div id="SOHUCS"></div>-->
<!--<script>-->
<!--(function(){-->
<!--var appid = 'cyrvw3vzC',-->
<!--conf = 'prod_065b9793e09a2f9a3812e9bfd0cc7794';-->
<!--var doc = document,-->
<!--s = doc.createElement('script'),-->
<!--h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;-->
<!--s.type = 'text/javascript';-->
<!--s.charset = 'utf-8';-->
<!--s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;-->
<!--h.insertBefore(s,h.firstChild);-->
<!--window.SCS_NO_IFRAME = true;-->
<!--})()-->
<!--</script>-->
<!--</div>-->


<!--多说-->
{##}
{#<div class="block">#}
{#<div class="ds-thread"></div>#}
{#<script type="text/javascript">#}
{#var duoshuoQuery = {short_name: "leihuang"};#}
{#(function () {#}
{#var ds = document.createElement('script');#}
{#ds.type = 'text/javascript';#}
{#ds.async = true;#}
{#ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';#}
{#ds.charset = 'UTF-8';#}
{#(document.getElementsByTagName('head')[0]#}
{#|| document.getElementsByTagName('body')[0]).appendChild(ds);#}
{#})();#}
{#</script>#}
{#</div>#}
