<footer>
    <span class="muted">© HLZY. All Rights Reserved.</span><br>
    <br>
    <img src="/static/images/scribble2.png" alt="scribble">
    <br>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2059e4c53b8d3d3c11acaa706e68afda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</footer>