<!--<link href="../../static/images/fav.png" charset="UTF-8" rel="Shortcut Icon">-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/static/css/syntax.css" rel="stylesheet" type="text/css">
<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
<link href="/static/lib/highlight/default.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/basics.js" type="text/javascript"></script>
<script src="/static/lib/highlight/highlight.min.js" type="application/javascript"></script>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<link rel="shortcut icon" href="/static/images/hl-logo.ico" type="image/x-icon"/>