<html>
<head>
    <title>About - HLZY</title>
    {% include 'base/head.html' %}
</head>
<body>
{% include 'base/header.html' %}

<div id="container">
    {% include 'base/links.html' %}

    <div class="content">
        <section class="post">
            <h1>About</h1>
            <!--<p><img src="http://leihuang-net.qiniudn.com/me1.jpg" height="150px" width="150px"></p>-->

            <ul>
                <li>Hey,HL is me, ZY is my boss!</li>
                <li>Graduate with Bachelor's Degree From Chongqing University in 2015</li>
                <li>Python or anything.</li>
                <li>Motto：I practice three hours a day,so that when I meet a pirate,I can kill it!</li>
            </ul>
            <blockquote>
                <p>黑客文化是一种持续改进和衍变创新的做事方法。黑客们认为，优化无止境，产品无完美。当有人说无法再改动一丝一毫，或是满足于现状时，黑客们却当着别人的面，情不自禁地动手修改。</p>

                <p>
                    黑客们迅速发布小规模更新，并从中汲取经验教训，而不是试图一蹴而就，一劳永逸，他们希望通过长久努力打造出最佳服务。为此，我们建立了一个测试框架，无论何时均可测试数千个版本的Facebook。我们的办公室墙上写着“完成胜于完美”（Done
                    is better than perfect），以提醒大家按时“交付产品”。</p>

                <p>
                    “黑客”也意味着一种亲身实践、积极进取的天然纪律。黑客们不会召开长达数天的马拉松会议，以讨论某个创意是否可行，或是试图寻找最佳方法。他们会制作原型产品，看看是否行得通。在Facebook的办公室里，黑客们的口头禅是：“代码胜于雄辩”（Code
                    Wins Arguments）。</p>

                <p>“黑客”还意味着极度开放和精英为王。黑客们认为，最优秀的创意及其实现始终掌控一切——而不是由最善于鼓吹创意或是权力最大的人掌控一切。</p>
            </blockquote>

{#            <h2>find me：</h2>#}
{##}
{#            <ul>#}
{#                <li>weibo: <a href="http://weibo.com/2287064232?s=6cm7D0">直到世界丶丶</a></li>#}
{#                <li>douban：<a href="http://www.douban.com/people/57983284/">宇文</a></li>#}
{#                <li>Email: leihuang.org@gmail.com</li>#}
{#            </ul>#}

            <p>最后,一首Beyond的光辉岁月净化灵魂...自信可改变未来!</p>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                    src="https://music.163.com/outchain/player?type=2&id=346576&auto=0&height=66"></iframe>
        </section>
    </div>

    {% include 'base/comment.html' %}

</div>
{% include 'base/footer.html' %}

</body>
</html>